<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="SignupForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <ion-row class="form-group">   
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" class="form-control" id="email" formControlName = "email" required autocomplete="false"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" class="form-control" id="password" formControlName = "password" required autocomplete="false"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="secondary" expand="block">Sign In</ion-button>
        <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
