<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
  
        <ion-img src="../assets/img/logo.jpg" style="width:30%" class="logo"></ion-img>
 
        <h1 style="text-align:center"> meet</h1>
 
        <ion-button [routerLink]="['/newmeeting']" color="primary">New Meeting</ion-button><br/>
        <ion-button color="primary">Join Meeting</ion-button><br/>
        <a [routerLink]="['/registration']" class="small-text-center" >Register</a><br/>        
        <a [routerLink]="['/login']" class="small-text-center">Sign In</a>

        </ion-col>
    </ion-row>
  </ion-grid>
      
</ion-content>
