<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>New Meeting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<form>
    <ion-item lines="full">
      <ion-label position="floating">Subject:</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Description:</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Date Start:</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Date End:</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Attendants:</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="secondary" expand="block">Create Meeting</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
